.main-container {
	background-color: #02151B;
	color: white
}

.home {
	padding-top: 100px;
	font-size: large;
	text-align: center;
	color: black
}

.home input {
	padding: 15px;
}

.profile {
	font-size: medium;
}

.top-bar {
  padding: 20px;
}

.top-bar input, select {
	color: black;
	font-size: small;
}

.champ-chest-missing {
	outline: 1px solid #053849;
	outline-offset: -1px;
}

.champ-chest-earned {
  opacity: 0.3;
  outline: 2px solid gold;
  outline-offset: -3px;
}

.icon-chest-missing, .icon-chest-earned {
	position: absolute;
	right: 45px;
	bottom: 45px;
}

.champ {
  padding-bottom: 10px;
	position: relative; left: 0; top: 0;
}

.champ div {
	text-align: center;
}

.champ img {
	display: block;
	margin: 0 auto;
}

#profile-header {
    margin-bottom: 15px;
    padding: 15px 0;
}