.main-container {
	background-color: #02151B;
	color: white;
	font-family: 'PT Sans', sans-serif;
}

.home {
	padding-top: 100px;
	font-size: large;
	text-align: center;
	color: black
}

.home input {
	padding: 15px;
}

.profile {
	font-size: medium;
}

.top-bar {
  padding: 20px;
}

.top-bar input, select {
	color: black;
	font-size: small;
}

#champ {
	height: 122px;
	width: 122px;
}

.champ-chest-earned, .champ-chest-missing {
  outline: 1px solid #053849;
  outline-offset: -1px;
	padding: 1px;
}

.champ-chest-earned img {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	width: 100%;
}

.champ-chest-missing img {
	width: 100%;
}

#champ-img-container {
	position: relative;
	width: 122px;
	height: 122px;
}

#chest-icon-container {
	position: absolute;
	right: 7px;
	bottom: 3px;
}

#profile-header {
    margin-bottom: 15px;
    padding: 15px 0;
}