.main-container {
	background-color: #02151B;
	color: white
}

.home {
	padding-top: 100px;
	font-size: large;
	text-align: center;
	color: black
}

.home input {
	padding: 15px;
}

.profile {
	font-size: medium;
}

.top-bar {
  padding: 20px;
}

.top-bar input, select {
	color: black;
	font-size: small;
}

.champ {
	height: 120px;
	width: 120px;
}

.champ-chest-missing {
	outline: 1px solid #053849;
	outline-offset: -1px;
}

.champ-chest-earned {
  opacity: 0.3;
  outline: 2px solid gold;
  outline-offset: -3px;
}

.champ-img-container {
	position: relative;
	width: 120px;
	height: 120px;
}

.chest-icon-container {
	position: absolute;
	right: 7px;
	bottom: 5px;
}

#profile-header {
    margin-bottom: 15px;
    padding: 15px 0;
}

.navbar-brand img {
	display: inline;
	width: 40px;
}

.navbar form {
	color: black;
}