swagger: '2.0'
info:
  title: Riot API
  description: Riot API (for lolchest)
  version: 1.0.0
host: global.api.pvp.net
schemes:
  - https
basePath: /
produces:
  - application/json
paths:
  /api/lol/static-data/{region}/v1.2/champion:
    get:
      operationId: getChampionData
      summary: get static champion data
      produces:
        - application/json
      parameters:
        - name: region
          type: string
          in: path
          required: true
        - name: champData
          type: string
          in: query
          default: image
          enum:
            - image
      responses:
        '200':
          description: all champion static data
          schema:
            $ref: "#/definitions/ChampionListDto"
  /api/lol/static-data/{region}/v1.2/versions:
    get:
      operationId: getStaticAssetVersions
      summary: get list of static asset versions
      produces:
        - application/json
      parameters:
        - name: region
          type: string
          in: path
          required: true
      responses:
        '200':
          description: list of versions
          schema:
            type: array
            items:
              type: string
securityDefinitions:
  apiKey:
    type: apiKey
    name: api_key
    in: query
security:
  - apiKey: []
definitions:
  ChampionListDto:
    type: object
    required:
      - data
    properties:
      data:
        type: object
        additionalProperties:
          $ref: "#/definitions/ChampionDto"
  ChampionDto:
    type: object
    required:
      - id
      - name
      - title
      - image
    properties:
      id:
        type: integer
        format: int64
      name:
        type: string
      title:
        type: string
      image:
        type: object
        $ref: "#/definitions/ImageDto"
  ImageDto:
    type: object
    required:
      - full
    properties:
      full:
        type: string
