swagger: '2.0'
info:
  title: Riot API
  description: Riot API (for lolchest)
  version: 1.0.0
host: global.api.pvp.net
schemes:
  - https
basePath: /
produces:
  - application/json
paths:
  /api/lol/static-data/{region}/v1.2/champion:
    get:
      operationId: getChampionData
      summary: get static champion data
      produces:
        - application/json
      parameters:
        - name: region
          type: string
          in: path
          default: na
          required: true
        - name: champData
          type: string
          in: query
          default: image
          enum:
            - image
      responses:
        '200':
          description: all champion static data
          schema:
            $ref: "#/definitions/ChampionListDto"
        '429':
          description: rate limit exceeded
          headers:
            x-retry-after:
              type: integer
              format: int32
              description: the number of seconds to wait until retrying
        '500':
          description: internal server error
        '503':
          description: service unavailable
  /api/lol/static-data/{region}/v1.2/versions:
    get:
      operationId: getStaticAssetVersions
      summary: get list of static asset versions
      produces:
        - application/json
      parameters:
        - name: region
          type: string
          in: path
          default: na
          required: true
      responses:
        '200':
          description: list of versions
          schema:
            type: array
            items:
              type: string
        '429':
          description: rate limit exceeded
          headers:
            x-retry-after:
              type: integer
              format: int32
              description: the number of seconds to wait until retrying
        '500':
          description: internal server error
        '503':
          description: service unavailable
  /api/lol/{region}/v1.4/summoner/by-name/{summonerNames}:
    get:
      operationId: getSummonerProfile
      summary: get basic information about a summoner
      produces:
        - application/json
      parameters:
        - name: region
          type: string
          in: path
          default: na
          required: true
        - name: summonerNames
          type: string
          in: path
          required: true
      responses:
        '200':
          description: list of summoner profile data
          schema:
            type: object
            additionalProperties:
              $ref: "#/definitions/SummonerDto"
        '404':
          description: summoner id or platform id not found
        '429':
          description: rate limit exceeded
          headers:
            x-retry-after:
              type: integer
              format: int32
              description: the number of seconds to wait until retrying
        '500':
          description: internal server error
        '503':
          description: service unavailable
  /championmastery/location/{platformId}/player/{summonerId}/champions:
    get:
      operationId: getSummonerChampionMastery
      summary: get a summoner's champion mastery for all champions
      produces:
        - application/json
      parameters:
        - name: platformId
          type: string
          in: path
          default: na1
          required: true
        - name: summonerId
          type: integer
          format: int64
          in: path
          required: true
      responses:
        '200':
          description: list of champion mastery data for a summoner
          schema:
            type: array
            items:
              $ref: "#/definitions/ChampionMasteryDto"
        '404':
          description: summoner id or platform id not found
        '429':
          description: rate limit exceeded
          headers:
            x-retry-after:
              type: integer
              format: int32
              description: the number of seconds to wait until retrying
        '500':
          description: internal server error
securityDefinitions:
  apiKey:
    type: apiKey
    name: api_key
    in: query
security:
  - apiKey: []
definitions:
  ChampionListDto:
    type: object
    required:
      - data
    properties:
      data:
        type: object
        additionalProperties:
          $ref: "#/definitions/ChampionDto"
  ChampionDto:
    type: object
    required:
      - id
      - name
      - title
      - image
    properties:
      id:
        type: integer
        format: int64
      name:
        type: string
      title:
        type: string
      image:
        type: object
        $ref: "#/definitions/ImageDto"
  ImageDto:
    type: object
    required:
      - full
    properties:
      full:
        type: string
  SummonerDto:
    type: object
    required:
      - id
      - name
      - profileIconId
    properties:
      id:
        type: integer
        format: int64
      name:
        type: string
      profileIconId:
        type: integer
        format: int32
  ChampionMasteryDto:
    type: object
    required:
      - championId
      - chestGranted
      - highestGrade
    properties:
      championId:
        type: integer
        format: int64
      chestGranted:
        type: boolean
      highestGrade:
        type: string