swagger: '2.0'
info:
  title: lolchest API
  description: API for lolchest
  version: 1.0.0
host: api.lolchest.win
schemes:
  - http
basePath: /
produces:
  - application/json
paths:
  /summoner/{region}/{name}:
    get:
      operationId: getSummoner
      summary: get data for a summoner
      produces:
        - application/json
      parameters:
        - name: name
          in: path
          description: name of the summoner
          required: true
          type: string
        - name: region
          in: path
          description: summoner region
          required: true
          type: string
          default: na
          enum:
            - na
            - br
            - eune
            - euw
            - jp
            - kr
            - lan
            - las
            - oce
            - ru
            - tr
        - name: refresh
          in: query
          description: whether or not to refresh the data
          required: false
          type: boolean
      responses:
        '200':
          description: summoner data
          schema:
            $ref: '#/definitions/Summoner'
        '500':
          description: unexpected error
        '502':
          description: invalid response from riot api
definitions:
  Summoner:
    type: object
    required:
      - id
      - name
      - profileIconUrl
      - champMastery
    properties:
      id:
        type: integer
        format: int64
      name:
        type: string
      profileIconUrl:
        type: string
      champMastery:
        type: "array"
        items:
          $ref: "#/definitions/ChampionMastery"
  ChampionMastery:
    type: object
    required:
      - champId
      - champName
      - champIconUrl
      - chestIsAvailable
    properties:
      champId:
        type: integer
        format: int64
      champName:
        type: string
      champIconUrl:
        type: string
      highestGrade:
        type: string
      chestIsAvailable:
        type: boolean
