swagger: '2.0'
info:
  title: lolchest API
  description: API for lolchest
  version: 1.0.0
host: api.lolchest.win
schemes:
  - http
basePath: /
produces:
  - application/json
paths:
  /champions:
    get:
      operationId: getAllChampData
      summary: get static champion data
      produces:
        - application/json
      responses:
        '200':
          description: all champion static data
          schema:
            type: "array"
            items:
              $ref: "#/definitions/ChampionData"
  /summoner/{name}:
    get:
      operationId: getSummoner
      summary: get data for a summoner
      produces:
        - application/json
      parameters:
        - name: name
          in: path
          description: name of the summoner
          required: true
          type: string
        - name: refresh
          in: query
          description: whether or not to refresh the data
          required: false
          type: boolean
      responses:
        '200':
          description: summoner data
          schema:
            $ref: '#/definitions/Summoner'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
definitions:
  Summoner:
    type: object
    required:
      - id
      - name
      - profileIconUrl
      - champData
    properties:
      id:
        type: integer
        format: int64
      name:
        type: string
      profileIconUrl:
        type: string
      champData:
        type: "array"
        items:
          $ref: "#/definitions/SummonerChampChestData"
  ChampionData:
    type: object
    required:
      - id
      - name
      - iconUrl
    properties:
      id:
        type: integer
        format: int64
      name:
        type: string
      iconUrl:
        type: string
  SummonerChampChestData:
    type: object
    required:
      - champId
      - highestGrade
      - chestIsAvailable
    properties:
      champId:
        type: integer
        format: int64
      highestGrade:
        type: string
      chestIsAvailable:
        type: boolean
  Error:
    type: object
    required:
      - code
      - message
    properties:
      code:
        type: integer
        format: int32
        description: the HTTP status of the response
      message:
        type: string
        description: details about why the request failed
