<div class="container-fluid">
  <div class="row">
    <!--Top Search/Sort Bar Content-->

    Search: <input ng-model="champNameQuery">
    Sort by:
    <select ng-model="orderProp">
      <option value="champName">Alphabetical</option>
      <option value="chestIsAvailable">Chest Availability</option>
      <option value="highestGrade">Grade</option>
    </select>

  </div>

  <div class="row">
    <!-- Main Content Grid -->

    <div class="col-md-3" ng-repeat="mastery in masteries | filter: {'champName': champNameQuery} | orderBy: orderProp">
      <img ng-src="{{mastery.champIconUrl}}">
      <p>Champion Name: {{mastery.champName}}</p>
      <p>Highest Grade: {{mastery.highestGrade || 'N/A'}}</p>
      <p>Chest Available: {{mastery.chestIsAvailable | checkmark}}</p>
    </div>
  </div>
</div>