<div class="profile">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="{{'#/'}}">
          <img src="/assets/img/chest-key.png" />
          LoLChest.win
        </a>
      </div>
      <form class="navbar-form navbar-left" action="{{'#/profile/'+summonerName}}">
        <input class="search-field" type="text" ng-model="summonerName" size="30" placeholder="Summoner Name" value="{{summoner.name}}">
        <input class="search-button" type="submit" value="Search">
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="{{'#/profile/'+summoner.name}}" class="dropdown-toggle" data-toggle="dropdown">{{selectedSortOrder.text}} <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li ng-repeat="s in sortOptions">
              <a href ng-click="setSortOrder($index)">{{s.text}}</a>
            </li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-right" onsubmit="return false;">
        <input ng-model="champNameQuery" placeholder="Champion Name" size="30">
      </form>
    </div>
  </nav>
  <h3>LoLChest.win</h3>
  <div id="profile-header">
    <div class="container">
      <profile-header name="summoner.name"
                      icon="summoner.icon"
                      total-chests="summoner.totalChests"
                      earned-chests="summoner.earnedChests">
      </profile-header>
    </div>
  </div>
  <div class="container" id="profile-masteries">
    <div class="row">
      <!-- Main Content Grid -->
  
      <div class="col-xs-5 col-sm-3 col-md-2" id="champ"
           ng-repeat="mastery in masteries | startsWith: champNameQuery:'champName' | sortMasteries: selectedSortOrder">
        <div id="champ-img-container">
          <div ng-class="{'champ-chest-missing': mastery.chestIsAvailable, 'champ-chest-earned': !mastery.chestIsAvailable}">
            <img ng-src="{{mastery.champIconUrl}}" title="{{mastery.champName}}">
          </div>
          <div id="chest-icon-container">
            <img ng-hide="!mastery.chestIsAvailable" src="/assets/img/chest-missing.png" title="No chest for {{mastery.champName}} yet">
            <img ng-hide="mastery.chestIsAvailable" src="/assets/img/chest-earned.png" title="Chest already earned for {{mastery.champName}}">
          </div>
          <div id="grade-container">
            <div id="grade-circle">
              {{mastery.highestGrade || '--'}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>