<div id="profile">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#lolchest-nav">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">
          <img src="/assets/img/chest-key.png" />
          LoLChest.win
        </a>
      </div>
      <div class="collapse navbar-collapse" id="lolchest-nav">
        <form class="navbar-form navbar-left" onsubmit="return false;">
          <input class="form-control" ng-model="champNameQuery" placeholder="champion name" size="20">
        </form>
        <ul class="nav navbar-nav navbar-left">
          <li class="dropdown">
            <a href class="dropdown-toggle" data-toggle="dropdown">{{selectedSortOrder.text}} <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li ng-repeat="s in sortOptions">
                <a href ng-click="setSortOrder($index)">{{s.text}}</a>
              </li>
            </ul>
          </li>
        </ul>
        <search-bar class="navbar-search" form-classes="navbar-form navbar-right"></search-bar>
      </div>
    </div>
  </nav>
  <div class="profile-loader" ng-show="loading">
    <img src="/assets/img/loading.gif" />
  </div>
  <div id="profile-header" ng-show="!loading">
    <div class="container">
      <profile-header name="summoner.name"
                      icon="summoner.icon"
                      total-chests="summoner.totalChests"
                      earned-chests="summoner.earnedChests">
      </profile-header>
    </div>
  </div>
  <div id="profile-masteries">
    <div class="container">
      <div class="row">
        <!-- Main Content Grid -->

        <div class="col-xs-5 col-sm-3 col-md-2" id="champ"
             ng-repeat="mastery in masteries | startsWith: champNameQuery:'champName' | sortMasteries: selectedSortOrder">
          <div id="champ-img-container">
            <div ng-class="{'champ-chest-missing': mastery.chestIsAvailable, 'champ-chest-earned': !mastery.chestIsAvailable}">
              <img ng-src="{{mastery.champIconUrl}}" title="{{mastery.champName}}">
            </div>
            <div id="chest-icon-container">
              <img ng-hide="!mastery.chestIsAvailable" src="/assets/img/chest-missing.png" title="No chest for {{mastery.champName}} yet">
              <img ng-hide="mastery.chestIsAvailable" src="/assets/img/chest-earned.png" title="Chest already earned for {{mastery.champName}}">
            </div>
            <div id="grade-container">
              <div id="grade-circle">
                {{mastery.highestGrade || '--'}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>