<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#lolchest-nav">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <img src="/assets/img/chest-logo.png">
        <img src="/assets/img/text-logo-small.jpg">
      </a>
    </div>
    <div class="collapse navbar-collapse" id="lolchest-nav">
      <form class="navbar-form navbar-left" onsubmit="return false;">
        <input class="form-control" ng-model="champNameQuery" placeholder="filter by champion" size="20" ng-change="ensureHeight()">
      </form>
      <ul class="nav navbar-nav navbar-left" style="margin-left: 15px;">
        <li class="dropdown">
          <a href class="dropdown-toggle" data-toggle="dropdown">{{selectedSortOrder.text}} <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li ng-repeat="s in sortOptions">
              <a href ng-click="setSortOrder($index)">{{s.text}}</a>
            </li>
          </ul>
        </li>
      </ul>
      <search-bar class="navbar-search" form-classes="navbar-form navbar-right"></search-bar>
    </div>
  </div>
</nav>
<div class="navbar-buffer">-</div>